<h1>Books</h1>
<p>Find me in app/views/books/index.html.erb</p>

<h1>投稿一覧</h1>

<% @books.each do |book| %>


 <h2>Title:</h2> 
 <span><%= book.title %></span>

 <h2>Body:</h2> 
 <span><%= book.body %></span>

  <%= link_to "Show", book_path(book.id) %>
  <%= link_to "Edit", edit_book_path(book.id) %>
  <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
  

<% end %>